*.gch
*.o
lombricABrac
server
a.out
.vscode
init_db
*.db
supdata.log
out.txt
input
Server/lib/cppzmq/
Server/lib/libzmq/
Client/proto/src/
Server/proto/src/
Client/temp/
Client/UI/src/
.gdb_history
peda-session-server.txt
