*.gch
*.o
lombricABrac
server
a.out
.vscode
init_db
*.db
supdata.log
out.txt
input
Server/lib/cppzmq/
Server/lib/libzmq/
Server/cpl_proto/
Client/proto/src/
Client/temp/*
.gdb_history
peda-session-server.txt
